// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Lifted from pelican

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

// Tag cloud

.tag-0 {font-size: 252%; line-height: 120%}
.tag-1 {font-size: 200%; line-height: 120%}
.tag-2 {font-size: 160%; line-height: 120%}
.tag-3 {font-size: 126%; line-height: 120%}
.tag-4 {font-size: 100%; line-height: 120%}
.tag-5 {font-size: 79%; line-height: 120%}
.tag-6 {font-size: 63%; line-height: 120%}
